frontend/node_modules/**/*
frontend/.vscode/
frontend/assets/
frontend/.expo/*
frontend/npm-debug.*
frontend/*.jks
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

backend/target/
backend/.mvn/
backend/.settings/
backend/.classpath
backend/.project
